.admin-navbar {
    background-color: #626262;
    padding: 10px 20px;
}

.profile-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
